extends layout

block content
  div#sky
  div.snowflakes(aria-hidden='true')
    div.snowflake
      | ❄
    div.snowflake
      | ❅
    div.snowflake
      | ❆
    div.snowflake
      | ❄
    div.snowflake
      | ❅
    div.snowflake
      | ❆
    div.snowflake
      | ❄
    div.snowflake
      | ❅
    div.snowflake
      | ❆
    div.snowflake
      | ❄
  div.wrapper
    div.card
      div.upperHalf
        img(src='/images/' + img + '.jpg', alt='kuva').cardImage
        img(src='/images/mistletoe.png', alt='mistletoe').mistletoeLeft
        img(src='/images/mistletoe.png', alt='mistletoe').mistletoeRight
      div.lowerHalf
        h1.greeting= greeting
        p.from Me
    div.ctree
      div.branches.bottom
        div.band
      div.branches.middle
        div.band
      div.branches.top
        div.band
