body {
  font-family: "Comic Sans", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  color: #ff4d4d;
  font-size: calc(110% + 1vmin);
}

#sky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: #003366;
  z-index: -2;
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

/* Credits: http://pajasevi.github.io/CSSnowflakes/ */
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
.wrapper {
  margin: 5% 20% 20% 20%;
}

.card {
  border: 1px solid #000;
  -webkit-box-shadow: 6px 10px 22px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 10px 22px 0 rgba(0,0,0,0.75);
  box-shadow: 6px 10px 22px 0 rgba(0,0,0,0.75);
}

.upperHalf {
  background-color: #b30000;
  /*display: flex;*/
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
  color: white;
  border-top: 1px solid #ff3333;
  border-bottom: 2px solid #cc0000;
  padding: 2% 2% 2% 2%;
  height: 400px;
}

.upperHalf .cardImage {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

.upperHalf p {
  margin-left: 1em;
  margin-right: 1em;
}

.lowerHalf {
  background-color: #b30000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  border-top: 1px solid #cc0000;
  border-bottom: 2px solid #ff4d4d;
  padding: 2% 2% 2% 2%;
  height: 200px;
}

.greeting {
  font-family: "Chopin Script", cursive;
  text-align: center;
}

.from {
  font-family: "Comic Sans", cursive;
  text-align: right;
  padding-right: 5%;
}

.mistletoeLeft {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 50% 50% 15%;
  width: 15%;
}

.mistletoeRight {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 50% 50% 70%;
  width: 15%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.footer {
  position: fixed;
  left: 0;
  bottom: -0.5%;
  width: 100%;
  color: white;
  text-align: center;
  font-size: calc(5px + 1vmin) ;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Chopin Script";
  src: url("fonts/ChopinScript.ttf");
  src:
          url("fonts/chopinscript-webfont.woff") format("woff")
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
